/* Style sheets for the extension -- web-extension.css
   File that include all styling for the extension
   By: Sean Miller
   2018-06-01 */

#title {
    font-size: 24px;
    text-align: center;
    margin: 2% auto 0;
}

#logo {
    width: 50px;
    height: 50px;
    margin: 5px auto 0;
    background: url(images/kenya128.png) no-repeat center;
    background-size: contain;
}

#titlebox {
    margin: 0;
    padding: 0;
}

#seperator {
    border: 2%;
}

#container {
    width: 200px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: auto;
}

.description {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 5% auto 0;
    height: auto;
}

#options-container {
    text-align: left;
    line-height: 0;
    clear: both;
    font-size: 14px;
    margin: 5% auto 0;
    height: max-content;
    overflow: hidden;
}

#options-description {
    position: relative;
    float: left;
    height: 100%;
    margin: 14px auto 11px auto;
}

#enable {
    position: relative;
    float: right;
    height: 100%;
    margin-right: 0%;
}

#toggle-container {
    float: right;
    height: auto;
    margin-right: 2px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
}

.switch>input {
    display: none;
}

.toggle {
    position: absolute;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
    box-shadow: 0 0 0 #009933;
}

input:checked+.toggle {
    background-color: #009933;
}

input:focus {
    box-shadow: 0 0 0 #009933;
}

.toggle:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: #E8E8E8;
    transition: .2s;
}

input:checked+.toggle:before {
    transform: translateX(20px);
}