/* Style sheets for the extension -- web-extension.css
   File that include all styling for the extension
   By: Sean Miller
   2018-06-01 */

#title {
    font-size: 24px;
    text-align: center;
    margin: 5% auto 0;
}

#logo {
    width: 50px;
    height: 50px;
    margin: 15px auto 0;
    background: url(images/kenya128.png) no-repeat center;
    background-size: contain;
}

#titlebox {
    margin: 0;
    padding: 0;
}

#seperator {
    border: 2%;
}

#container {
    /* position: absolute; */
    width: 200px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto; 
    height: auto;
}

.description {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 5% auto 0;
    height: auto;
}

#options-container {
    text-align: left;
    line-height: 0;
    clear: both;
    font-size: 14px;
    margin: 5% auto 0;
    height: max-content;
    overflow:hidden;
}

#options-description {
    position: relative;
    float: left;
    height: 100%;
    /* width: max-content; */
}

#enable {
    position: relative;
    float: right;
    height: 100%;
    margin-right: 0%;
}